<div class="container">

  <form action="url.html.erb">
    Please paste the Amazon URL here:<br>
    <input type="text"id="amazon-url" name="url" placeholder="Amazon URL">
    <br>
    <input type="submit" value="Submit">
  </form>

</div>
